*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    /* padding: 20px; */
    /* background-image: linear-gradient(to right, rgb(129, 252, 246), rgb(186, 250, 250)); */
    /* background-color:rgb(210, 253, 253); */
    background-color:#ace2fe;
    font-family: sans-serif;

}

.brandFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 9999;
    /* box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); */
}


.formBody{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.formHeading{
    color: rgb(67, 191, 67);
    font-size: 24px;
    font-weight:bold
}

.form-label{
    font-family: cursive;
    font-size: 16px;
    text-align: left;
    display: block; 
}
.form-input{
   height: 35px;
   width: 100%;
   outline:none;
   border: 0;
   border-radius: 5px;
   box-shadow: 1px 1px 2px 1px rgb(142, 142, 142);
   padding: 10px;
}
.form-button{
    color: white;
    background-color: rgb(9, 87, 9);
    width: 100%;
    height: 35px;
    border-radius: 5px;
    border: 0;
    outline: none;
}

.iconBack{
    font-size: 32px;
    font-family: cursive;
    color: rgb(75, 75, 75);
    float: left;
}

.addBrand {
    border: 1px solid black;
    border-radius: 17px;
    height: 37px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
    box-shadow: 1px 1px 2px 1px rgb(100, 100, 100);
    width: 50%;
    margin-top: 8px;
    font-family: cursive;
}

.addPhoto {
    border: 1px solid black;
    border-radius: 17px;
    height: 37px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 18px;
    box-shadow: 1px 1px 2px 1px rgb(100, 100, 100);
    width: 60%;
    margin-top: 8px;
    font-family: cursive;
}

.posterCards{
    border-radius: 17px;
    height: 50px;
    background-color: white;
    align-items: center;
    padding-top: 10px;
    /* box-shadow: 1px 1px 2px 1px rgb(100, 100, 100); */
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
}

.posterCards1{
    box-shadow: 1px 1px 2px 1px rgb(3, 211, 208);
    color: rgb(228, 90, 52);
}
.posterCards2{
    box-shadow: 1px 1px 2px 1px rgb(26, 198, 63);
    color: rgb(30, 30, 30); 
}
.posterCards3{
    box-shadow: 1px 1px 2px 1px rgb(3, 8, 150);
    color: rgba(12, 4, 120, 0.868); 
}
.posterCards4{
    box-shadow: 1px 1px 2px 1px rgb(134, 134, 134);
    color: rgba(18, 143, 181, 0.868); 
}
.posterCards5{
    box-shadow: 1px 1px 2px 1px rgb(4, 9, 140);
    color: rgba(139, 70, 30, 0.868); 
}
.headingDiv {
    background-color: white;
    height: 100px;
    border-bottom-right-radius: 35px;
    border-bottom-left-radius: 35px;
    font-family: cursive;
    box-shadow: 1px 1px 2px 2px rgb(90, 90, 90);

    display: flex;
    align-items: center;        /* Vertical center */
    padding: 0 20px;
    position: relative;
}

.iconBack {
    font-size: 26px;
    cursor: pointer;
}

.BirthdayHeading {
    color: rgb(233, 120, 40);
    font-size: 23px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.ThankYouHeading{
    color: rgb(40, 233, 201);
    font-size: 23px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.headingTitleReport{
    font-family: cursive;
    color: rgb(9, 14, 174);
    font-size: 23px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 10px;
}

.reportsDiv{
    background-color: white;
    color: black !important;
}

.lastPOb{
    margin:auto;
    width: 230px;
}

/* Hide on mobile */
.hide-mobile {
    display: block;
}

/* Hide on desktop */
.hide-desktop {
    display: none;
}

/* Mobile view */
@media (max-width: 767px) {
    .hide-mobile {
        display: none;
    }
    .hide-desktop {
        display: block;
    }
}

.ReportsHeading{
    font-size: 24px;
    margin-top: 160px;
}

.reportCards{
    border-radius: 17px;
    height: 70px;
    background-color: white;
    align-items: center;
    padding-top: 13px;
    /* box-shadow: 1px 1px 2px 1px rgb(100, 100, 100); */
    width: 100%;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    cursor: pointer;
    font-size: 23px;
}

.reportCards3{
    box-shadow: 1px 1px 2px 1px rgb(87, 87, 87);
    color: rgba(14, 5, 138, 0.868); 
}

.form-input::placeholder {
  color: #000;
  opacity: 1; /* ensures full black */
}
